<!-- Views/Shared/_Header.cshtml -->
<!--BẮT ĐẦU PHẦN HEADER-->
<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <!-- Thanh thông tin phía trên, hiển thị địa chỉ và email -->
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">279 Nguyễn Tri Phương, phường 5, Quận 10</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Nhom4@ueh.edu.vn</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="@Url.Action("Privacy","Home")" class="text-white"><small class="text-white mx-2">Chính sách bảo mật</small>/</a>
                <a href="@Url.Action("TermsOfUse","Home")" class="text-white"><small class="text-white mx-2">Điều khoản sử dụng</small>/</a>
                <a href="@Url.Action("Refunds","Home")" class="text-white"><small class="text-white ms-2">Bán hàng và hoàn trả</small></a>
            </div>
        </div>
    </div>
    <!-- Kết thúc Thanh thông tin phía trên -->
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <!--Button đến trang chủ-->
            <a href="@Url.Action("Index", "Home")" class="navbar-brand"><h1 class="text-primary display-6">Simple Green</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <!--Button đến Trang chủ-->
                    <a href="@Url.Action("Index", "Home")" class="nav-item nav-link">Trang chủ</a>
                    
                    <!--Button đến Trang Cửa hàng-->
                    <a href="@Url.Action("ShopIndex", "Shop")" class="nav-item nav-link">Cửa hàng</a>
                    
                    <!--Button đến Trang Liên hệ-->
                    <a href="@Url.Action("Contact", "Contact")" class="nav-item nav-link">Liên hệ</a>
                    
                    <!--Button đến Bài viết-->
                    <a href="@Url.Action("BlogIndex","Blog")" class="nav-item nav-link">Bài viết</a>
                </div>
                
                <!--Khu vực trên phải-->
                <div class="d-flex m-3 me-0">
                    <!-- Button đến trang Yêu thích -->
                    <a href="@Url.Action("WishList","Cart")" class="position-relative me-4 my-auto">
                        <i class="fa fa-heart fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span>
                    </a>

                    <!--Button đến trang Giỏ hàng-->
                    <a href="@Url.Action("Cart","Cart")" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span>
                    </a>
                    <a href="@Url.Action(User.Identity.IsAuthenticated ? "Profile" : "Login", "Account")" class="my-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            // Lấy đường dẫn avatar từ claim
                            var avatarUrl = User.Claims.FirstOrDefault(c => c.Type == "avatar")?.Value;
                            if (!string.IsNullOrEmpty(avatarUrl))
                            {
                                <img src="~/img/Customer/@avatarUrl" alt="Avatar" class="img-fluid rounded-circle" style="width: 30px; height: 30px;" />
                            }
                            else
                            {
                                <i class="fas fa-user fa-2x"></i>
                            }
                        }
                        else
                        {
                            <i class="fas fa-user fa-2x"></i>
                        }
                    </a>

                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<div class="container-fluid py-5">
</div>
<!--KẾT THÚC PHẦN HEADER-->