@model PTUDTMDT.Models.LoaiSanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid py-5 mt-5">
    <div>
        <h1>Chi tiết loại sản phẩm</h1>
        <h4>@Model.MaLoai - @Model.TenLoai</h4>
    </div>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TenLoai)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TenLoai)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hinh)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hinh)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Alias)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Alias)
            </dd>
        </dl>
    </div>

    <div class="mt-2">
        <a asp-action="Edit" asp-route-id="@Model?.MaLoai" class="btn border border-secondary rounded-pill px-3 text-primary">
            <i class="fa fa-edit me-2 text-primary"></i> Chỉnh sửa
        </a>
        <a asp-action="Index" class="btn border border-secondary rounded-pill px-3 text-primary">
            <i class="fa fa-arrow-left me-2 text-primary"></i> Danh sách Loại sản phẩm
        </a>
    </div>
</div>
