@model PTUDTMDT.Models.GiamGium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid py-5 mt-5">
    <div>
        <h1>Xóa mã giảm giá @Model.TenMa</h1>
        <h3 class="alert-warning">Bạn có chắc chắn muốn xóa mã giảm giá này?</h3>
    </div>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TenMa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TenMa)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GiaTri)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GiaTri)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NgayBatDau)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoLuong)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrangThai)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="MaGiamGia" />
            <input type="submit" value="Xóa" class="btn border border-danger rounded-pill px-3 text-danger" />
            <a asp-action="Index" class="btn border border-secondary rounded-pill px-3 text-primary">
                <i class="fa fa-arrow-left me-2 text-primary"></i> Danh sách Mã giảm giá
            </a>
        </form>
    </div>
</div>
