@model IEnumerable<PTUDTMDT.Models.GiamGium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGiamGia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGiamGia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGiamGia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
