
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model PTUDTMDT.Areas.Admin.ViewModels.ReportViewModel

<div class="container mt-7" style="margin-top:7em; margin-bottom:7em">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2>Báo cáo</h2>

            <div class="mt-2">
                <h3>Tổng số đơn hàng</h3>
                <p>@Model.TotalOrders</p>
            </div>

            <div class="mt-2">
                <h3>Tổng doanh thu</h3>
                <p>@Model.TotalRevenue.ToString("C")</p>
            </div>

            <div class="mt-2">
                <h3>Tổng Số sản phẩm đã thêm</h3>
                <p>@Model.TotalProductsAdded</p>
            </div>

            <div class="mt-2">
                <h3>Tổng số sản phẩm đã bán</h3>
                <p>@Model.TotalProductsSold</p>
            </div>

            <div class="mt-2">
                <h3>Số sản phẩm mới</h3>
                <p>@Model.NewUsersThisMonth</p>
            </div>
        </div>
    </div>
</div>