@{
    ViewData["Title"] = "Giỏ Hàng";
}
@model IEnumerable<PTUDTMDT.ViewModels.CartViewModel.CartItemViewModel>

@{
        /**

    
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!--Cột hình-->
                        <th scope="col"></th>
                        <th scope="col">Tên Sản phẩm</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                        <!--Cột nút xóa sản phẩm ra khỏi giỏ hàng-->
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <!--Cột hình-->
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="@Url.Content(item.Product.LayDiaChiHinh(1))" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.Product.ShortDesc">
                                </div>
                            </th>
                            <!--Cột tên sản phẩm-->
                            <td>
                                <p class="mb-0 mt-4">@item.Product.TenSanPham</p>
                            </td>
                            <!--Cột giá tiền-->
                            <td>
                                @if (item.Product.GiaSauGiam == null) {
                                    <p class="mb-0 mt-4">@item.Product.FormatPrice(item.Product.GiaSanPham)</p>
                                }
                                else {
                                    <p class="mb-0 mt-4">
                                        @item.Product.FormatPrice(item.Product.GiaSauGiam)
                                        <span class="fst-italic" style="text-decoration:line-through">  @item.Product.FormatPrice(item.Product.GiaSanPham)</span>
                                        <span class="fst-italic">(-@item.Product.GiamGia)%</span>
                                        </p>
                                }
                            </td>
                            <!--Cột điều chỉnh số lượng-->
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="@item.Quantity">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <!--Cột thành tiền-->
                            <td>
                                <p class="mb-0 mt-4">@item.Total</p>
                            </td>
                            <!--Nút xóa sản phẩm ra khỏi giỏ hàng-->
                            <td>
                                <button class="btn btn-md rounded-circle bg-light border mt-4">
                                    <i class="fa fa-times text-danger"></i>
                                </button>
                            </td>

                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal:</h5>
                            <p class="mb-0">$96.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Shipping</h5>
                            <div class="">
                                <p class="mb-0">Flat rate: $3.00</p>
                            </div>
                        </div>
                        <p class="mb-0 text-end">Shipping to Ukraine.</p>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">$99.00</p>
                    </div>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->
**/
}
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row d-flex align-items-center gap-4 rounded-2xl">
            
            <!-- Sản phẩm trong giỏ hàng (col-7) -->
            <div class="col-7">
                @foreach (var item in Model)
                {
                    <!-- Sản phẩm 1 -->
                    <div class="row mb-4">
                        <!-- Mỗi sản phẩm trong một row -->
                        <div class="d-flex align-items-center gap-4 rounded-2xl" style="height: 13rem;">
                            <div class="d-flex justify-content-between w-100">
                                <div class="container-fluid p-4 rounded bg-light">
                                    <div class="position-relative row align-items-center w-100">
                                        <!-- Cột hình ảnh (4/12) -->
                                        <div class="col-4 d-flex justify-content-center">
                                            <img src="@item.Product.LayDiaChiHinh(1)" class="img-fluid rounded-circle" alt="@item.Product.TenSanPham">
                                        </div>
                                        <!-- Cột thông tin (8/12) -->
                                        <div class="col-8 d-flex flex-column justify-content-between">
                                            <div class="d-flex flex-column" style="gap: 2.5px;">

                                                <h5 class="fw-bold mb-2">@item.Product.TenSanPham</h5>

                                                <p class="mb-0 mb-2">Giá tiền</p>
                                                <!-- Chọn số lượng sản phẩm -->
                                                <div class="input-group quantity mb-3" style="width: 100px;">
                                                    <div class="input-group-btn">
                                                        <!-- Nút giảm số lượng -->
                                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" type="button">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- Ô nhập số lượng -->
                                                    <input name="quantity" type="text" class="form-control form-control-sm text-center border-0 bg-light" value="@item.Quantity">
                                                    <div class="input-group-btn">
                                                        <!-- Nút tăng số lượng -->
                                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border" type="button">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <h6 class="mb-2 align-self-end">Tổng tiền: <span class="fw-bold">Số tiền</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Empty Column 2 (col-2) -->
            <div class="col-2"></div>

            <!-- Empty Column 3 (col-3) -->
            <div class="col-3"></div>
        </div>
    </div>
</div>

